@import url("colors.css");

* {
    font-family: "Radio Canada Big", sans-serif;
    font-weight: bold;
    font-size: 13px;
    border-radius: 100px;
}

window#waybar {
    background-color: transparent;
    color: @on_background;
    margin: 0 0 0 0;
}

/* Workspaces */
#workspaces {
    background-color: @background;
    padding: 0 5px 0 0;
}

#workspaces button {
    color: @primary;
}

/* Module alignment */
.modules-left {
    margin-left: 12px;
}

.modules-right {
    margin-right: 12px;
}

/* Common module style */
#battery,
#pulseaudio,
#backlight,
#custom-weather {
    color: @tertiary;
    background-color: @background;
    margin: 0 15px 0 0px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

/* Network */
#network {
    color: @secondary;
    background-color: @background;
    margin: 0 0px 0 0px;
    padding: 0 15px 0 15px;
}

/* Clock */
#clock {
    color: @primary;
    background-color: @background;
    margin: 0 15px 0 0;
    padding: 0 15px 0 15px;
}

/* Pulseaudio */
#pulseaudio {
    color: @tertiary;
}

/* Backlight */
#backlight {
    color: @tertiary;
}

/* Weather */
#custom-weather {
    color: @tertiary;
    background-color: @background;
    padding: 0 15px 0 15px;
}

/* Media */
#custom-media {
    color: @primary;
    background-color: @background;
    margin: 0 0px 0 15px;
    padding: 0 15px 0 15px;
}
