/*
 * Rofi Colors
 * Generated with Matugen
 */

* {
    bg0: #121415;
    bg1: #121415;
    bg2: #292a2b;
    bg3: #aacbe1;

    fg0: #e3e2e4;
    fg1: #e3e2e4;
    fg2: #c2c7cc;
    fg3: #8c9196;

    active: #aacbe1;
    urgent: #ffb4ab;
}
